{{#if index}}
<div class="header">
    <h1> Haomiao Han </h1>
</div>
<div class="nav">
    <a href="/about">About</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/contact">Contact</a>
</div>
{{else}}
<div class="navbar">
    <div class="title">
        <a href="/">Haomiao Han</a>
    </div>
    <div class="links">
        <a href="/about">About</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/contact">Contact</a>
    </div>
</div>
<div class="content">
    {{#if about}}
    <h2>Hello, Nihao and Marhaban</h2>
    <p>I'm Haomiao, a M.S. Candidate in Information Systems and Applied Information Sciences (with a concentration in Connective Media) at <a class="inline-link" href="https://tech.cornell.edu/">CornellTech</a> at Cornell University. Prior to Cornell, I graduated from the College of Arts and Science, <a class="inline-link" href="https://www.nyu.edu/">New York University (NYU)</a> with B.A. degrees in Computer Science and Middle Eastern Studies.</p>
    <p>Currently I am interested in creating all sorts of programs for social good, designing user-friendly interfaces, and creating data analyses and visualizations.</p>
    <p>Click <a href="../assets/HaomiaoHanResume.pdf" class="inline-link">here</a> to download my resume. Feel free to visit my <a class="inline-link" href="https://www.linkedin.com/in/haomiaohan/">LinkedIn</a> and <a class="inline-link" href="https://github.com/haomiaohan">GitHub</a> pages as well.</p>
    {{/if}}
    {{#if portfolio}}
    <h2>Stuff that I've been working on</h2>
    <div class="portfolio-content">
        <div class="content-right">
            <div class="text">
                <a href="https://teach-me-web-app.herokuapp.com/home" class="inline-link"><h3>TeachMe</h3></a>
                <p>TeachMe is a web app that connects creatively skilled individuals with those who wish to learn these skills. TeachMe was built with Node.js/Express, React.js, Bootstrap and MongoDB.</p>
                <p>For this group project, I am responsible for designing most of the interfaces as well as implementing the front-end and back-end for most of the web app.</p>
            </div>
            <div class="image">
                <a href="https://teach-me-web-app.herokuapp.com/home"><img src="../img/teachme.png"></a>
            </div>
        </div>
        <hr/>
        <div class="content-left">
            <div class="text">
                <a href="https://rate-my-cards.herokuapp.com/" class="inline-link"><h3>RateMyCards</h3></a>
                <p>RateMyCards recommends users the best credit cards according to their monthly spending habits and credit scores. This web app is created with Node.js/Express, Bootstrap and MongoDB.</p>
            </div>
            <div class="image">
                <a href="https://rate-my-cards.herokuapp.com/"><img src="../img/rmc.png"></a>
            </div>
        </div>
        <hr/>
        <div class="content-right">
            <div class="text">
                <a href="https://github.com/haomiaohan/text-summarizer" class="inline-link"><h3>Auto TL;DR</h3></a>
                <p>As its name suggests, Auto TL;DR automatically generates summaries for news articles. This program is built with Python, using spaCy.py as a natural language processing toolkit.</p>
                <p>Feel free to check out the <a class="inline-link" href="../assets/text_summarizer_writeup.pdf">write-up</a> as well as an <a class="inline-link" href="https://docs.google.com/presentation/d/1uXDus09S93CcJHOmqF_93DhIlTx01z6eaSm50m-_-r4/edit?usp=sharing">in-class presentation</a> for this project.</p>
            </div>
            <div class="image">
                <a href="https://github.com/haomiaohan/text-summarizer"><img src="../img/text.png"></a>
            </div>
        </div>
        <hr/>
        <div class="content-left">
            <div class="text">
                <a href="../html/flight_delays.html" class="inline-link"><h3>New York-LaGaurdia Airport Flight Delays Analysis</h3></a>
                <p>Analysis of flight arrival delays of the 4 major U.S. airlines at New York's LaGuardia Airport in 2017, using Python's Matplotlib.</p>
            </div>
            <div class="image">
                <a href="../html/flight_delays.html"><img src="../img/lga.png"></a>
            </div>
        </div>
        <hr/>
        <!-- <div class="content-right">
            <div class="text">
                <a href="http://i6.cims.nyu.edu/~hh1519/csci0060/assignment5/index.html" class="inline-link"><h3>Asylum Seekers in EU</h3></a>
                <p>View the statistics on refugees and other asylum seekers in the European Union for the past decade. This web page is created using Python and SQLite. </p>
            </div>
            <div class="image">
                <a href="http://i6.cims.nyu.edu/~hh1519/csci0060/assignment5/index.html"><img src="../img/asylum.png"></a>
            </div>
        </div> -->
    </div>
    {{/if}}
    {{#if contact}}
    <div class="contact-text">
        <h2>How to reach me</h2>
        <p>You can email me at <a class="inline-link" href="mailto:hh696@cornell.edu">hh696@cornell.edu</a>.</p>
        <hr>
        <p class="italics">Image: {{desc}}</p>
        <p class="italics">To make this page slightly less boring, here's a picture that I have taken during my travels. Refresh the page for a new image ;)</p>
    </div>
    <div class="contact-img">
        <img src="../img/{{img}}.jpg">
    </div>
    {{/if}}
</div>
{{/if}}
