{{#if index}}
<div class="header">
    <h1> Haomiao Han </h1>
</div>
<div class="nav">
    <a href="/about">About</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/contact">Contact</a>
</div>
{{else}}
<div class="navbar">
    <div class="title">
        <a href="/">Haomiao Han</a>
    </div>
    <div class="links">
        <a class="about-link" href="/about">About</a>
        <a class="folio-link" href="/portfolio">Portfolio</a>
        <a class="contact-link" href="/contact">Contact</a>
    </div>
</div>
<div class="content">
    {{#if about}}
    <h2>Hello, Nihao and Marhaban</h2>
    <p>I'm Haomiao, a M.S. Candidate in Information Systems and Applied Information Sciences (with a concentration in Connective Media) at <a class="inline-link" href="https://tech.cornell.edu/">Cornell Tech</a> at Cornell University. At Cornell, I am advised by <a class="inline-link" href="https://people.jacobs.cornell.edu/mor/">Prof. Mor Naaman</a> and <a class="inline-link" href="https://nixdell.com/">Prof. Nicola Dell</a> on my ongoing reserach project centering on misinformation, recommendation systems and social media platforms.</p> 
    <p>Prior to Cornell, I graduated from the College of Arts and Science, <a class="inline-link" href="https://www.nyu.edu/">New York University (NYU)</a> with a B.A. degree in Computer Science and in Middle Eastern Studies.</p>
    <p>Currently I am interested in creating all sorts of programs for social good, designing user-friendly interfaces, and creating data analyses and visualizations. For Summer 2020, I will be heading to Amazon Web Services as a Software Development Engineer intern.</p>
    <p>Click <a href="../assets/HaomiaoHanResume.pdf" class="inline-link">here</a> to download my resume. Feel free to visit my <a class="inline-link" href="https://www.linkedin.com/in/haomiaohan/">LinkedIn</a> and <a class="inline-link" href="https://github.com/haomiaohan">GitHub</a> pages as well.</p>
    {{/if}}
    {{#if portfolio}}
    <h2>Stuff that I've been working on</h2>
    <p class="italics">Visit my <a class="inline-link" href="https://github.com/haomiaohan?tab=repositories">GitHub repositories page</a> for the source code of all projects below!</p>
    <div id="filter-selection">
        <div>
            <label for="all" id="clear-filter">Clear Filter/Show All</label>
            <input type="checkbox" id="all" class="visually-hidden" checked>
        </div>
        <div>
            <label for="webdev" id="webdev-label" class="pressed">Web Development</label>
            <input type="checkbox" id="webdev" class="visually-hidden" checked>
        </div>
        <div>
            <label for="ml" id="ml-label" class="pressed">Machine Learning</label>
            <input type="checkbox" id="ml" class="visually-hidden" checked>
        </div>
        <div>
            <label for="dataviz" id="dataviz-label" class="pressed">Data Visualization</label>
            <input type="checkbox" id="dataviz" class="visually-hidden" checked>
        </div>
        <div>
            <label for="ui" id="ui-label" class="pressed">UI/Design</label>
            <input type="checkbox" id="ui" class="visually-hidden" checked>
        </div>
    </div>
    <hr />
    <div class="warning-msg hidden">
        <p>It seems that there are no results matching your selected filter(s). Click on "Clear Filter/Show All" to see all of my projects! </p>
    </div>
    <div class="portfolio-content">
        <div class="flex-container webdev">
            <div class="text left-text">
                <a href="https://teach-me-web-app.herokuapp.com/home" class="inline-link"><h3>TeachMe</h3></a>
                <p>TeachMe is a web app that connects creatively skilled individuals with those who wish to learn these skills. TeachMe was built with Node.js/Express, React.js, Bootstrap and MongoDB.</p>
                <p>For this group project, I am responsible for designing most of the interfaces as well as implementing the front-end and back-end for most of the web app.</p>
            </div>
            <div class="image">
                <a href="https://teach-me-web-app.herokuapp.com/home"><img src="../img/teachme.png"></a>
            </div>
        </div>
        <hr class="webdev" />
        <div class="flex-container webdev">
            <div class="text left-text">
                <a href="https://rate-my-cards.herokuapp.com/" class="inline-link"><h3>RateMyCards</h3></a>
                <p>RateMyCards recommends users the best credit cards according to their monthly spending habits and credit scores. This web app is created with Node.js/Express, Bootstrap and MongoDB.</p>
            </div>
            <div class="image">
                <a href="https://rate-my-cards.herokuapp.com/"><img src="../img/rmc.png"></a>
            </div>
        </div>
        <hr class="webdev" />
        <div class="flex-container ml">
            <div class="text left-text">
                <a href="https://github.com/haomiaohan/image-search" class="inline-link"><h3>Image Search Engine</h3></a>
                <p>A machine-learning based program that matches description text to a list of most relevant images. Program built with python, using scikit-learn and spaCy as machine learning and NLP toolkits.  </p>
                <p>As the final project for my Applied Machine Learning class, this program achieved a performance that ranked <a href="https://www.kaggle.com/c/cs5785-fall-2019-final/leaderboard" class="inline-link">4th</a> out of all 44 programs.</p>
                <p>Feel free to check out the <a class="inline-link" href="../assets/image_search.pdf">write-up</a> for this project.</p>
            </div>
            <div class="image">
                <a href="https://github.com/haomiaohan/image-search"><img src="../img/imagesearch.png"></a>
            </div>
        </div>
        <hr class="ml" />
        <div class="flex-container ml">
            <div class="text left-text">
                <a href="https://github.com/haomiaohan/text-summarizer" class="inline-link"><h3>Auto TL;DR</h3></a>
                <p>As its name suggests, Auto TL;DR automatically generates summaries for news articles. This program is built with Python, using spaCy.py as a natural language processing toolkit.</p>
                <p>Feel free to check out the <a class="inline-link" href="../assets/text_summarizer_writeup.pdf">write-up</a> as well as an <a class="inline-link" href="https://docs.google.com/presentation/d/1uXDus09S93CcJHOmqF_93DhIlTx01z6eaSm50m-_-r4/edit?usp=sharing">in-class presentation</a> for this project.</p>
            </div>
            <div class="image">
                <a href="https://github.com/haomiaohan/text-summarizer"><img src="../img/text.png"></a>
            </div>
        </div>
        <hr class="ml" />
        <div class="flex-container dataviz">
            <div class="text left-text">
                <a href="../assets/IRAFacebookAds.pdf" class="inline-link"><h3>Visualizing Russian Interference in 2016 Elections</h3></a>
                <p>Visualizing the content and the impact of ads purchased by Russia's IRA on Facebook during the 2016 election cycle. Analysis performed using python (pandas, NLTK, TextBlob). Visualized with Tableau.</p>
            </div>
            <div class="image">
                <a href="../assets/IRAFacebookAds.pdf"><img src="../img/iraads.png"></a>
            </div>
        </div>
        <hr class="dataviz" />
        <div class="flex-container ui">
            <div class="text left-text">
                <a href="../assets/PerCent.pdf" class="inline-link"><h3>PerCent</h3></a>
                <p>An app that allows users to receive changes deposited into their digital wallet instead of receiving physical coins/cash when making cash transactions at shops, restaurants and other businesses. Prototype created with Sketch.</p>
                <p>This app is designed for Cornell Tech's Product Studio challenge, provided by Mastercard. </p>
                <p>More about this project: <a href="https://docs.google.com/presentation/d/18TkbRAhJA6VyM4UsB_FnUkyhEihAANSwItj2ZpZbJGc/edit?usp=sharing" class="inline-link">Prototype Demo</a> | 
                <a href="https://docs.google.com/presentation/d/1594Cr4ndIcx_EwAu0xHR_29QIxoo0qXbts5VXw72eBg/edit?usp=sharing" class="inline-link"> Final Presentation</a> | 
                <a href="http://buildboard-10044.cornelltech.io/fall-2019/team_pages/F19-T029.html" class="inline-link"> Product Studio Challenge Overview</a></p>
            </div>
            <div class="image">
                <a href="../assets/PerCent.pdf"><img src="../img/percent.png"></a>
            </div>
        </div>
        <hr class="ui" />
        <div class="flex-container dataviz">
            <div class="text left-text">
                <a href="../html/flight_delays.html" class="inline-link"><h3>New York-LaGaurdia Airport Flight Delays Analysis</h3></a>
                <p class="italics">A newer version of the visualization that features more data and better graphs is coming soon. Stay tuned!</p>
                <p>Analysis of flight arrival delays of the 4 major U.S. airlines at New York's LaGuardia Airport in 2017, using Python's Matplotlib.</p>
            </div>
            <div class="image">
                <a href="../html/flight_delays.html"><img src="../img/lga.png"></a>
            </div>
        </div>
        <hr class="dataviz" />
        <!-- <div class="content-right">
            <div class="text">
                <a href="http://i6.cims.nyu.edu/~hh1519/csci0060/assignment5/index.html" class="inline-link"><h3>Asylum Seekers in EU</h3></a>
                <p>View the statistics on refugees and other asylum seekers in the European Union for the past decade. This web page is created using Python and SQLite. </p>
            </div>
            <div class="image">
                <a href="http://i6.cims.nyu.edu/~hh1519/csci0060/assignment5/index.html"><img src="../img/asylum.png"></a>
            </div>
        </div> -->
    </div>
    {{/if}}
    {{#if contact}}
    <h2>How to reach me</h2>
    <div class="flex-container-contact">
        <div class="contact-text">
            <p>You can email me at <a class="inline-link" href="mailto:hh696@cornell.edu">hh696@cornell.edu</a>.</p>
            <hr>
            <p class="italics">Image: {{desc}}</p>
            <p class="italics">To make this page slightly less boring, here's a picture that I have taken during my travels. Refresh the page for a new image ;)</p>
        </div>
        <div class="contact-img">
            <img src="../img/{{img}}.jpg">
        </div>
    </div>
    {{/if}}
    {{#if notFound}}
    <h2>Oops</h2>
    <p>That's a 404 error - it seems that the page you requested is not available.</p>
    {{/if}}
</div>
{{/if}}

<link rel="stylesheet" type="text/css" href="/css/portfolio.css">
<script src='/script/script.js'></script>
<script src='/script/portfolio-filter.js'></script>
