<!DOCTYPE HTML>
<html>
    <head>
        <title>Haomiao Han</title>
        <link rel="stylesheet" type="text/css" href="/css/base.css">
    </head>
    <body>
        {{{body}}} 
    </body>
</html>