@font-face {
    font-family: AiS;
    src: url(/fonts/AfternooninStereo.ttf) format('truetype');
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    font-family: AiS, sans-serif;
    font-size: 5em;
    font-weight: normal;
    margin-top: 2em;
    cursor: default;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.inline-link {
    color: #007bff;
}

.inline-link:visited{
    color: #007bff;
}

.nav {
    text-align: center;
}

.nav a {
    font-size: 1.5em;
    border-right: 1px solid black;
    padding:0 10px 0 5px;
}

.links a {
    font-size: 1.25em;
    border-right: 1px solid black;
    padding:0 10px 0 5px;
}

.nav a:last-child, .links a:last-child {
    border-right: none;
}

.navbar {
    margin: 6em 8em 4em 8em;
}

.navbar div {
    display: inline-block;
}

.title a{
    font-family: AiS, sans-serif;
    font-size: 2.25em;
}

.links {
    float: right;
}

.content {
    margin: 0 8em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 15em;
    align-items: center;
}

.right-text {
    margin-left: 2.5%;
}

.left-text {
    margin-right: 2.5%;
}

.flex-container-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-text {
    margin-right: 5%;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}


