@font-face {
    font-family: AiS;
    src: url(/fonts/AfternooninStereo.ttf) format('truetype');
}

* {
    font-family: 'Avenir', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: AiS, sans-serif;
    font-size: 5em;
    font-weight: normal;
    margin-top: 2em;
    cursor: default;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.inline-link {
    color: #007bff;
}

.inline-link:visited{
    color: #007bff;
}

.nav {
    text-align: center;
}

.nav a {
    font-size: 1.5em;
    border-right: 1px solid black;
    padding:0 10px 0 5px;
}

.links a {
    font-size: 1.25em;
    border-right: 1px solid black;
    padding:0 10px 0 5px;
}

.nav a:last-child, .links a:last-child {
    border-right: none;
}

.navbar {
    margin: 6em 8em 4em 8em;
}

.navbar div {
    display: inline-block;
}

.title p{
    font-family: 'Optima', sans-serif;
    font-size: 2.25em;
}

.title .cent {
    font-weight: 300;
}

.links {
    float: right;
}

.transaction-input {
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.transaction-input input, .transaction-input button {
    display: block;
}

.transaction-input button {
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
}

#transact-text {
    border-bottom: 1px solid black;
    border-left: none;
    border-top: none;
    border-right: none;
    background: none;
    font-size: 40px;
    text-align: center;
    margin: 0.5em auto;
    width: 80%;
}

#qrcode {
    text-align: center;
    margin-top: 2em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    min-height: 2000px;
}

.flex-container .left {
    width: 35%;
    text-align: center;
}

.flex-container .left img {
    margin-top: 50%;
}

.flex-container .right {
    width: 65%;
    background-image: linear-gradient(to bottom right, #6080DE, #31A8E0);
    background-color: #31A8E0;
}

.text-center {
    text-align: center;
}

.center-video {
    margin: 0 auto;
    text-align: center;
}

#preview {
    height: 500px;
    width: 500px;
}

.white-title {
    color: white;
    font-family: 'Avenir', sans-serif;
    margin-top: 5%;
}

.transactions-display {
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}

.italics {
    font-style: italic;
}


